.mono, pre, p code, li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace; }

/* non highlighted code colors */
.highlight {
  margin-bottom: 1.8em;
  overflow-y: hidden;
  overflow-x: auto; }

pre {
  background: #002b36;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 1px solid #073642;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #93a1a1;
  overflow: auto;
  border: 1px solid #073642 !important; }

p code, li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0; }

.highlight code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .2em !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: #002b36 !important;
  color: #93a1a1 !important;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */ }
  .highlight code *::-moz-selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px; }
  .highlight code *::-webkit-selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px; }
  .highlight code *::selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px; }
  .highlight code span {
    color: #93a1a1 !important; }
  .highlight code span {
    font-style: normal !important;
    font-weight: normal !important; }
  .highlight code .c {
    color: #586e75 !important;
    font-style: italic !important; }
  .highlight code .cm {
    color: #586e75 !important;
    font-style: italic !important; }
  .highlight code .cp {
    color: #586e75 !important;
    font-style: italic !important; }
  .highlight code .c1 {
    color: #586e75 !important;
    font-style: italic !important; }
  .highlight code .cs {
    color: #586e75 !important;
    font-weight: bold !important;
    font-style: italic !important; }
  .highlight code .err {
    color: #dc322f !important;
    background: none !important; }
  .highlight code .k {
    color: #cb4b16 !important; }
  .highlight code .o {
    color: #93a1a1 !important;
    font-weight: bold !important; }
  .highlight code .p {
    color: #93a1a1 !important; }
  .highlight code .ow {
    color: #2aa198 !important;
    font-weight: bold !important; }
  .highlight code .gd {
    color: #93a1a1 !important;
    background-color: #372c34 !important;
    display: inline-block; }
  .highlight code .gd .x {
    color: #93a1a1 !important;
    background-color: #4d2d33 !important;
    display: inline-block; }
  .highlight code .ge {
    color: #93a1a1 !important;
    font-style: italic !important; }
  .highlight code .gh {
    color: #586e75 !important; }
  .highlight code .gi {
    color: #93a1a1 !important;
    background-color: #1a412b !important;
    display: inline-block; }
  .highlight code .gi .x {
    color: #93a1a1 !important;
    background-color: #355720 !important;
    display: inline-block; }
  .highlight code .gs {
    color: #93a1a1 !important;
    font-weight: bold !important; }
  .highlight code .gu {
    color: #6c71c4 !important; }
  .highlight code .kc {
    color: #859900 !important;
    font-weight: bold !important; }
  .highlight code .kd {
    color: #268bd2 !important; }
  .highlight code .kp {
    color: #cb4b16 !important;
    font-weight: bold !important; }
  .highlight code .kr {
    color: #d33682 !important;
    font-weight: bold !important; }
  .highlight code .kt {
    color: #2aa198 !important; }
  .highlight code .n {
    color: #268bd2 !important; }
  .highlight code .na {
    color: #268bd2 !important; }
  .highlight code .nb {
    color: #859900 !important; }
  .highlight code .nc {
    color: #d33682 !important; }
  .highlight code .no {
    color: #b58900 !important; }
  .highlight code .nl {
    color: #859900 !important; }
  .highlight code .ne {
    color: #268bd2 !important;
    font-weight: bold !important; }
  .highlight code .nf {
    color: #268bd2 !important;
    font-weight: bold !important; }
  .highlight code .nn {
    color: #b58900 !important; }
  .highlight code .nt {
    color: #268bd2 !important;
    font-weight: bold !important; }
  .highlight code .nx {
    color: #b58900 !important; }
  .highlight code .vg {
    color: #268bd2 !important; }
  .highlight code .vi {
    color: #268bd2 !important; }
  .highlight code .nv {
    color: #268bd2 !important; }
  .highlight code .mf {
    color: #2aa198 !important; }
  .highlight code .m {
    color: #2aa198 !important; }
  .highlight code .mh {
    color: #2aa198 !important; }
  .highlight code .mi {
    color: #2aa198 !important; }
  .highlight code .s {
    color: #2aa198 !important; }
  .highlight code .sd {
    color: #2aa198 !important; }
  .highlight code .s2 {
    color: #2aa198 !important; }
  .highlight code .se {
    color: #dc322f !important; }
  .highlight code .si {
    color: #268bd2 !important; }
  .highlight code .sr {
    color: #2aa198 !important; }
  .highlight code .s1 {
    color: #2aa198 !important; }
  .highlight code div .gd, .highlight code div .gd .x, .highlight code div .gi, .highlight code div .gi .x {
    display: block; }

pre::-webkit-scrollbar, .highlight::-webkit-scrollbar {
  height: .5em;
  background: rgba(255, 255, 255, 0.15); }
pre::-webkit-scrollbar-thumb:horizontal, .highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font: normal 100%/1.7 Helvetica, Arial, FreeSans, sans-serif;
  background-color: #EBEEF2;
  color: #000;
  margin-top: 1em; }

#content {
  max-width: 40em;
  margin: 3.5em 11em 0; }

h1 {
  font-family: Georgia, serif;
  font-size: 3em;
  line-height: 0.9em;
  margin: .5em 0; }

h1 a {
  background-color: inherit; }

h2 {
  font-size: 1.3em;
  color: #000;
  padding: .9em 0 .3em; }

h3 {
  text-align: center;
  color: #000; }

a, a:visited {
  padding: 0 2px;
  text-decoration: none;
  color: #000;
  background: #ffec8b; }

a:active, a:hover {
  color: #000;
  background: #ffd917; }
