---
layout: default
title: Copsy
---

<h1>copsy.js</h1>
<p><a href="http://github.com/farnoux/copsy">Copsy</a> is an event-driven form validation plugin for jQuery.</p>
<p>
  You can view <a href="git://github.com/farnoux/copsy">the source</a> or <a href="http://github.com/farnoux/copsy/zipball/master">download it</a>.
</p>

<h2>Why another validation plugin?</h2>
<ul>
  <li>Minimalist. Only the validation mechanism.</li>
  <li>Extendable. Define validators. Add validation handlers.</li>
</ul>

<h2>Usage &amp; Demo</h2>
<p>
  {% include validators.html %}
  {% include handlers.html %}
  {% include simple.html %}
  {% include with_trigger_events.html %}
</p>

<h2>Contact</h2>
<p>
  Feel free to report any <a href="http://github.com/farnoux/copsy/issues">bug or feature on GitHub</a>. Or just send me a tweet <a href="http://twitter.com/farnoux">@farnoux</a>.
</p>
