<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link href="css/screen.css" rel="stylesheet" media="screen">
  <link href="css/solarized-dark.css" rel="stylesheet" media="screen">
  
  <link href="demo/css/tipsy.css" rel="stylesheet" media="screen">
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script src="src/copsy.js"></script>
  
  <script src="demo/js/jquery.tipsy.js"></script>
</head>

<body>
  <a href="http://github.com/farnoux/copsy"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="content">
    {{ content }}
  </div>

</body>
</html>